#Container_NAvbar {
    width: 100%;
    padding: 22px;
    font-size: 2rem;
    background-color: black;
    color: rgb(102, 189, 204);
    
}

.hero1 {
    margin-left: 3%;
    cursor: pointer;
}

#main_nav {

    display: flex;
    margin-left: 30%;

}